body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size:18px;
    text-align: center;
    
    margin: 0 auto;
}
header, nav, section, aside, footer{
    background: #ebebeb;
    float: left;
}
p {
    color: #777;
    background-color: #ebebeb;
    margin: 0;
}
section {
    width: 495px;
}
h3 {
    font-weight: 300;
    font-size: 18px;
}


/* ///////////////////////////////////////// */

header{
    height: 80px;
    margin: 10px auto 10px auto;
    width: 100%;
}
header p {
    margin-top: 30px;
}
nav {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}
nav p {
    margin-top: 30px;
}
section {
    margin-bottom: 20px;
    height: 300px;
}
section h3 {
    margin-top: 30px;
}
article {
    color: #ebebeb;
    background-color: #777;
    margin: 0 10px 0 10px;
    margin-top: 50px;
    height: 190px; 
}
article p {
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
}
article p:first-of-type {
    margin-top: 40px;
}
article h3 {
    font-size: 18px;
    font-style: normal;
    top: 20px;
    position: relative;
}
aside{
    width: 445px;
    height: 300px;
    float: right;
}
aside h3 {
    margin-top: 30px;
}
footer {
    width: 100%;
    height: 80px;
}
footer p {
    margin-top: 30px;
}
  
   

   
